@import "tailwindcss";

@theme {
  --font-display: "Open Sans", "sans-serif";

  --color-home: rgba(0, 61, 37, 1);
  --color-search: rgba(255, 255, 255, 1);
  --color-normal: rgba(0, 0, 0, 1);
  --color-tag: rgba(217, 217, 217, 0.5);
  --color-yellow: rgba(236, 201, 75, 1);
  --color-red: rgba(245, 101, 101, 1);
  --color-gray: rgba(10, 9, 9, 0.5);
}
